$clr-primary: #23a6f0;
$clr-secondary: #252b42;
$clr-dark: hsl(0, 0%, 18%);
$clr-light: hsl(0, 0%, 100%);
$clr-gray: #fafafa;

$ff-primary: 'Montserrat', sans-serif;

$break-md: 640px;
$break-lg: 1008px;